.intro-header .site-heading,.intro-header .post-heading,.intro-header .page-heading{
    padding: 85px 0 55px;
}

header.post-header h1,
header.post-header .article-author,
header.post-header .article-date,
header.post-header .article-author,
footer.post-footer {
    display: none;
}

article aside {
    clear: both;
}

/*.post-container ul {
    overflow: hidden;
}*/

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.post-container figure {
    background-color: #eee;
    padding: 1em;
    margin: 1em;
    display: table;
}

.post-container figure img {
    background-color: white;
    margin: 0 auto;
}

.post-container .aligncenter {
    clear: both;
    display: table;
    margin: auto;
}

.post-container figure,
.post-container figure img,
.post-container figure > figcaption {
    border: 1px solid #d9d9d9;
}

.post-container figure > figcaption {
    background-color: #eee;
    border-top: none;
    font-style: italic;
    font-size: smaller;
    padding: 0 2em;
    display: table-caption;
    caption-side: bottom;
}

header + figure {
    margin-top: 46px !important;
}

div.post-container li {
    margin-bottom: 1em;
}

div.post-container li:last-child {
    margin-bottom: 0;
}

hr.end {
    clear: both;
}

figure.table
{
    display: table;
    margin: auto;
    width: auto;
}

figure.table > *
{
    display: table-row;
}

figure.table > * > *
{
    display: table-cell;
}

.short-about img {
    margin: auto;
}

.navbar-header {
    background-image: url("/img/title.png");
    background-repeat: no-repeat;
    background-position: left -1px bottom 0px;
    padding-bottom: 12px;
}

form.search {
    padding: 20px;
    font-size: 12px;
    font-weight: 800;
}

form.search input {
    border: 0;
}

form.search button {
    background: transparent;
    border: none;
}

form.comments {
  font-size: 12px;
}

form.comments > div {
  display: table;
  caption-side: bottom;
  width: 100%;
}

form.comments > div > fieldset {
  display: table-row-group;
}

form.comments > div > fieldset > div {
  display: table-row;
}

form.comments > div > fieldset > div > div {
  display: table-cell;
}

form.comments > div > fieldset > div > div {
  padding: 0.5em;
}

form.comments label:after {
  content: ":";
}

form.comments > div > div:last-child {
  display: table-caption;
}

form.comments > div > div:last-child > label {
  display: block;
}

form.comments textarea {
  width: 100%;
}

form.comments input,
form.comments textarea {
  border: 1px solid #cdcdcd;
}

form.comments input[type="submit"] {
  text-align: right;
}

form.comments label.required:after {
  content: "*:";
}

ul.comments {
  margin: 0;
  padding: 0;
}

ul.comments ul.comments {
  margin-left: 2em;
}

ul.comments ul.comments li.comment:first-child::marker {
  content: "└";
  font-size: 30px;
  overflow: visible;
}

ul.comments li.comment {
  list-style: none;
  margin: 0;
}

ul.comments div.comment_header {
  color: #888;
  font-size: 12px;
}

ul.comments div.comment_header img.avatar {
  display: inline;
  margin: 0 0 0 1em;
}

ul.comments div.comment_body {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  padding: 0.5em;
}

.notice {
  background-color: #ffe;
  border: 1px solid #e4e411;
  padding: 1em;
  font-size: 12px;
}

.show_hidden {
  display: inherit !important;
  visibility: inherit !important;
}

figcaption p {
  margin: 0;
}
